


body{
    background-color:#ccc;
    line-height: 24px;
    
}

#Header a:hover{
    color:pink;
    
}
.navbar-brand{
    font-size: 32px;
    font-family: 'PT Serif', serif; 
    background: darkcyan;
    color: #fff;
    text-align: center;
    
}
hr{
    border-width: 3px;
}

h2{
    color:darkcyan;
    font-family: 'PT Serif', serif;
    
}