body{
    background-color:#ccc;
    font-size: 16px;
}

#Header a:hover{
    color:pink;
    
}
#Header span{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    background: darkcyan;
    color: #fff;
    text-align: center;
    
}
hr{
    border-width: 3px;
}

h2{
    color:darkcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    
}